body {
    background-color: black;
    font-family: 'Lucida Sans Unicode', monospace;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: relative;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:fit;
    z-index: 1;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:fit;
}

#cityHeader {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    justify-content: center;
    z-index: 2;
  
}